@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

